<html>
<head>
	<title>hapi Greetings</title>
	<link rel="stylesheet" href="/assets/css/stylesheet.css" />
</head>
<body>
	<header>
		<h2>My Cards</h2>
		<a href="cards/new" class="btn btn-default" role="button">
			Make New Card
		</a>
		<a href="upload" class="btn btn-default" role="button">
			Upload a Card Image
		</a>
	</header>
	<ul class="cards">
		{{#each cards}}
		<li class="card">
			<div class="recipient">To: {{name}}
			</div>
			<img src="/assets/images/cards/{{card_image}}">
			<div class="actions">
				<a href="cards/{{id}}" class="btn btn-default" role="button">
					Preview
				</a>
				<a href="cards/{{id}}/delete" class="btn btn-default" role="button">
					Delete
				</a>
				<a href="cards/{{id}}/send" class="btn btn-default" role="button">
					Send
				</a>
			</div>
		</li>
		{{/each}}
	</ul>
</body>
</html>